/* common css */
:root{
    --button-bg-color:#b22b35;
    --header-bg-color:#9A0712;
    --slider-bg-color:#840F17;
    --progress-text-color:#0055A5;
    --progress-p-color:#6C6F6E;
    --text-color:#fff;
    --heading-name-text-color:#000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Inter', sans-serif;
}
img{
    width: 100%;
}
a{
    display: block;
    text-decoration: none;
}
.container{
    max-width: 75rem;
    margin: 0 auto;
}

/* header-section  */
.h-color{
    background-color: var(--header-bg-color);
    color: var(--text-color);
    height: 10vh;
}
.flex-item{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.ul-flex{
    display: flex;
    list-style: none;
}
.list-item,.header-logo{
    padding: 1.6875rem;
    color: var(--text-color);
}
.list-item:hover,.header-logo:hover{
    color:rgb(165, 159, 159);
    transition:.4s all;
    -webkit-transition:.4s all;
    -moz-transition:.4s all;
    -ms-transition:.4s all;
    -o-transition:.4s all;
}

/* second header section  */
.display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 44rem;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    position: relative;
    z-index: 2;
    color: var(--text-color);
    
}
.display-flex::after{
    content: "";
    position: absolute;
    background-color: var(--slider-bg-color);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.display-flex h5{
    font-size:  1.25rem;
    margin-left:12.5rem ;
    padding: .9375rem 0;
}
.display-flex h1{
    font-size:  4rem;
    width:34.375rem ;
    margin-left:12.5rem ;
    padding: .9375rem 0;
}
.display-flex div{
    margin-left: 6.5rem;
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    display: flex;
    
}
.display-flex div:nth-child(2){
    margin-left: 1.5625rem;
}
.display-flex a{
    color: var(--text-color);
    padding: 10px 8px;
    border-radius: 20px;
    margin-left:10px ;
    position: relative;
    font-weight: bold;
    background-color:#72151B;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.display-flex a:hover{
    margin-left:-0.75rem ;
    color:rgb(165, 159, 159);
    transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
}
.h-line p{
    width: 5rem;
    height: .125rem;
    margin-top: .375rem;
    background-color: #fff;

}
.resume-link:hover .h-line p{
    background-color:rgb(165, 159, 159);
    color:rgb(165, 159, 159) ;
    transition: .4s linear;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -ms-transition: .4s linear;
    -o-transition: .4s linear;
}

.display-flex span{
    font-size: 2.75rem;
    font-weight: bold;
    margin-right: .625rem;
}
.customer-review{
    width: 15.625rem;
    background-color: var(--button-bg-color);
    padding: 1.25rem;
    border-radius: .625rem;
    -webkit-border-radius: .625rem;
    -moz-border-radius: .625rem;
    -ms-border-radius: .625rem;
    -o-border-radius: .625rem;
    border-bottom: 2px solid #BA414A;
}
.customer-review p{
    line-height: 1.5;
    margin-left: .625rem;
    font-size:18px;
}

/* progress bar section  */

.grid-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    padding: 5rem 0;
}
.img-div{
    width: 80%;
    /* position: relative; */
}
.img{
    position: relative;
    overflow: hidden;
    width: 80%;
}

/* image overly  */
.img-overly{
    position: absolute;
    background-color:#b22b35;
    opacity: .5;
    bottom: -100%;
    width: 80%;
    height: 50%;
    left:0 ;
}
.img-overly h2{
    color: #000;
    text-align: center;
    padding: 20% 0;
}
.img:hover .img-overly{
    bottom: 78px;
    transition:.8s all ease-in-out ;
}


.grid-item h3{
    font-size: 2rem;
    padding-bottom: .375rem;
}
.grid-item h3>span{
    color: #b22b35;
}
.grid-item h3>span:hover{
    color:var(--header-bg-color);
    transition: .4s ease all;
    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;
    -ms-transition: .4s ease all;
    -o-transition: .4s ease all;
    cursor: pointer;
}
.grid-item p{
    color: var(--progress-p-color);
    padding: 2.1875rem 0;
    width: 80%;
    line-height: 2;
}
.grid-item label{
    font-size: 1.25rem;
    font-weight: bolder;
    display: block;
    margin: 5px 0px;
}
/* progresss design  */
progress {
  border: none;
  width: 600px;
  height: 5px;
  border-radius: 50%;
  margin: 20px 0px;
}

progress {
  background: var(--header-bg-color);
}

progress::-webkit-progress-value {
  background: var(--header-bg-color);
}

progress::-moz-progress-bar {
  background: var(--header-bg-color);
}

/* experience section  */

.experince-section{
    background-color: var(--heading-name-text-color);
    color: var(--text-color);
    height: 48.125rem;
}
.experince-section h2{
    font-size: 3rem;
    padding: 3.125rem 0;
}
.ex-flex{
    display: flex;
    border-bottom: .125rem solid var(--progress-p-color);
    padding: 2.1875rem 0;
}
.ex-flex:nth-child(4){
    border: none;
}
.year-width,.sub-width{
    width: 23%
}
.sub-width h3{
    line-height: 2;
}
.details-text{
    width: 48%;
}
.downlod-r-btn{
    color: var(--text-color);
    background-color: var(--button-bg-color);
    border: none;
    padding: .625rem 1.1875rem;
    font-size: 1.125rem;
    border-radius: .125rem;
    margin-top: 3.125rem;
}
.downlod-r-btn:hover{
    background-color:#6C1A20;
    transition: ease .4s all;
    -webkit-transition: ease .4s all;
    -moz-transition: ease .4s all;
    -ms-transition: ease .4s all;
    -o-transition: ease .4s all;
    cursor: pointer;
}

/* project-section  */

.project-section{
    text-align: center;
}
.project-section h1{
    font-size: 3rem;
    padding: 3.75rem 0;
}
.project-section>img{
    border-radius: .625rem;
}

.project-section>p{
    padding: .625rem 0;
}